{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}


{% block content %}
	<h1>{% block title %} Welcome to Xoriat {% endblock %}</h1>

	<div class="form-wrapper">
		<h2 class="title">Change your password</h2>

		<form method="POST" action="{{ url_for('change_pass_post') }}" class="input-form">

			<dl>
			{{ render_field(form.curr_pass) }}
			{{ render_field(form.new_pass) }}
			{{ render_field(form.new_pass_conf) }}
			</dl>

			{{ form.submit }}

		</form>
	</div>
{% endblock %}

