{% extends 'base.html' %}

{% block title %} Xoriat {% endblock %}

{% block header %} Welcome to Xoriat {% endblock %}

{% block content %}
	<p> This is the website I made to do the things. What things? How does it work?
	Well, since I'm a generous god, here's a link to the source code: <br>
	<a href="https://github.com/alex-sutay/houseInventory">https://github.com/alex-sutay/houseInventory</a><br>
	Have fun with it, feel free to email me about any bugs you find, or use a PR, however you're feeling. </p>
{% endblock %}
