{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% from "_build_table.html" import build_table %}

{% block content %}
	<h1>{% block title %} Welcome to Xoriat {% endblock %}</h1>

	<div class="form-wrapper">
		<h2 class="title">Create new user</h2>

		<form method="POST" action="{{ url_for('manage_users_post') }}">

			{{ render_field(form.username) }}
			{{ render_field(form.password) }}

			{{ form.submit }}

		</form>
	</div>

	{{ build_table(columns, results) }}

{% endblock %}

